.view-project-team,
h3 {
  clear: left;
}

.view-project-team .views-row {
  width: 150px;
  float: left;
  margin-left: 20px;
}
.view-project-team .views-row img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.view-projects .progress-bar {
  height: 20px;
  clear: left;
}

.view-projects .progress-bar-segment {
  float: left;
  height: 20px;
  background-color: blue;
}

.view-projects .progress-bar-segment-future {
  background-color: gray;
}

.view-projects .progress-bar-segment-divider {
  background-color: black;
}
