.view-projects h3 {
  font-size: 200%;
}

.view-project-team,
h3 {
  clear: left;
}

.view-project-team .views-row {
  width: 150px;
  float: left;
  margin-left: 20px;
}
.view-project-team .views-row img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.view-projects .progress-bar {
  height: 20px;
  clear: left;
}

.view-projects .progress-bar-segment {
  float: left;
  height: 20px;
  background-color: cornflowerblue;
}

.view-projects .progress-bar-segment-future {
  background-color: #666;
}

.view-projects .progress-bar-start-future {
  border-left: 4px solid red;
  margin-left: -4px;
}

.view-projects .progress-bar-segment-divider {
  background-color: #333;
}

.view-projects .progress-bar .progress-bar-today {
  position: absolute;
  height: 20px;
  width: 4px;
  background-color: red;
}
